---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<br><br><br>
			<b>Currently</b> 
			<br>
			→ Designing for better software ownership at <a href="https://backstage.io/">Spotify for Backstage</a>
			<br>
			→ Training for the 2024 New York Marathon </a>
			<br>
			→ Practicing storytelling in product strategy </a>
			<br>
			<p class="muted small">Last updated October 2023</p>
		</main>
		<Footer />
	</body>
</html>
