---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<br><br><br>
			Currently → Product Manager @ Spotify's <a href="https://backstage.io/">Backstage</a>
			<br>
			Previously → Product Manager @ Unstoppable Domains, Wikimedia Foundation & ThoughtWorks on developer tools, open-source APIs & infrastructure.
			<br>
			<p class="muted small">Last updated February 2023</p>
		</main>
		<Footer />
	</body>
</html>
