---
const today = new Date();
---

<footer>
  <p class="muted small">© {today.getFullYear()} | <a class="muted" href="https://sevedkim.com/feed.xml">RSS</a> | <a class="muted" href="https://linkedin.com/in/sevedkim">Linkedin</a> | <a class="muted" href="https://github.com/danromero/clio">Theme</a></p>
</footer>
