---
layout: default
---

<header>
  <h1>{{ site.title | escape }}</h1>
</header>

<main>
  <iframe src="https://sevedkim.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no">
  </iframe>
{{ content }}

<hr />

  {%- if site.posts.size > 0 -%}
    <h2>{{ page.list_title | default: "Posts" }}</h2>
    <ul class="more-space">
      {%- for post in site.posts limit:20 -%}
      <li><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</main>
{%- include footer.html -%}
